body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
/*** HEADER ***/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-header {
	margin-bottom: 15px;
}
.navbar-brand {
  padding-top: 25px;


}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: #000;
  text-align: center;
  font-size: 1.2em;
  background-color: #fcf9ec;
}

#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*** END OF HEADER ***/
/*** HOME PAGE ***/
#page-head {
	color: #000;
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 35px;
}
.column .article  {
  color: #000;
  padding: 30px;
  margin-bottom: 30px;
  background-color: #eee;
  font-size: 21px;
  font-weight: 200;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
  max-width: 100%;
  padding: 10px;
}
.container-fluid h4 {
	font-size: 1.1em;
	text-align: center;
	margin-bottom: 10px;
	margin-top:-10px;
	font-weight: bold;
}
/*** END OF HOME PAGE ***/


/********** Extra small devices only **********/
@media (max-width: 576px) {

	.column {
		padding-right: 40px;
		padding-left: 40px;
	}
}



